@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Molle&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Molle;
    src: url('./assets/Molle-Italic.ttf');
}

:root {
    --pink: #D3387B;
    --cream: #FAE2E2;
}

body {
    font-family: 'Montserrat';
    color: black;
}

h1 {
    font-size: 1.75rem;
    color: var(--pink);
    font-family: 'Molle';
    align-self: center;
    margin: 0 0 0 2rem;
}

h2 {
    font-size: 1.75rem;
    color: var(--pink);
    font-family: 'Molle';
    margin: 0;
    width: 100%;
    text-align: center;
}

h3 {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    align-self: center;
}

.nav {
    color: var(--pink);
    font-weight: 500;
    white-space: nowrap;
}

.nav:link {
    text-decoration: none;
    align-self: center;
}

.navActive {
    font-weight: 800;
}

.nav:hover {
    font-weight: 800;
}

p {
    margin: 0;
}

header {
    width: 80%;
    margin: 1rem 0 0 10%;
    height: 3.5rem;
    background-color: var(--cream);
    border-radius: 200px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lineBreakTop {
    width: 100%;
    height: 0.25rem;
    background-color: var(--cream);
    border-radius: 100px;
    border: none;
    display: none;
}

#navBar {
    width: 50%;
    align-self: center;
    margin: 0 2rem 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}



#aboutMe {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20%;
    margin-top: 6rem;
}

#aboutMe h2 {
    text-align: left;
}

#selfie {
    width: 15rem;
    height: 15rem;
    border-radius: 400px;
    object-fit: cover;
    margin-right: 2rem;
    align-self: center;
}

#aboutContent {
    justify-self: center;
    align-self: center;
}

#aboutContent p {
    margin: 0;
}

#lineBreakAbout {
    width: 100%;
    height: 0.25rem;
    background-color: var(--cream);
    border-radius: 100px;
    border: none;
    display: none;
}

#myWork {
    width: 80%;
    margin-left: 10%;
    margin-top: 6rem;
}

#lineBreak {
    width: 100%;
    height: 0.25rem;
    background-color: var(--cream);
    border-radius: 100px;
    border: none;
}

#workContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#project {
    width: 45%;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#p1 {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: url(./assets/eventplan.PNG);
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 6px;
    border: none;
}

#p2 {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: url(./assets/community.PNG);
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 6px;
    border: none;
}

#p3 {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: url(./assets/weatherdash.PNG);
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 6px;
    border: none;
}

#p4 {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: url(./assets/passwordGenerator.PNG);
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 6px;
    border: none;
}

#p5 {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-image: url(./assets/teamGenerator.png);
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 6px;
    border: none;
}

#contactMe {
    width: 80%;
    margin: 6rem 0 6rem 10%
}

#contactNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#contactNav a {
    margin: 1rem;
}

#upBtn {
    font-size: 2rem;
    border-radius: 100px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    header {
        background: none;
        justify-content: center;
        box-shadow: none;
    }

    #lineBreakTop {
        display: block;
    }

    #navBar {
        margin: .75rem 2rem 0 2rem;
        width: 100%;
    }

    #aboutMe {
        width: 80%;
        margin-left: 10%;
    }

    #selfie {
        width: 10rem;
        height: 10rem;
    }

    #workContent {
        justify-content: center;
    }

    #project {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    #aboutMe {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 4rem;
    }

    #selfie {
        margin: 0 0 1rem 0;
    }

    #lineBreakAbout {
        display: block;
    }

    #aboutMe h2 {
        text-align: center;
    }

    #aboutContent p {
        margin: 1rem;
    }

    #project {
        width: 100%;
    }
}